S3method("[",comparative.comm)
S3method(plot,eco.env.regression.list)
S3method(plot,eco.phy.regression)
S3method(plot,eco.trait.regression)
S3method(plot,eco.trait.regression.list)
S3method(plot,fingerprint.regression)
S3method(print,cc.dispersion)
S3method(print,cc.dissimilarity)
S3method(print,cc.evenness)
S3method(print,cc.shape)
S3method(print,comparative.comm)
S3method(print,eco.env.regression)
S3method(print,eco.env.regression.list)
S3method(print,eco.phy.regression)
S3method(print,eco.trait.regression)
S3method(print,eco.trait.regression.list)
S3method(print,fingerprint.regression)
S3method(summary,cc.dispersion)
S3method(summary,cc.dissimilarity)
S3method(summary,cc.evenness)
S3method(summary,cc.shape)
S3method(summary,eco.env.regression)
S3method(summary,eco.env.regression.list)
S3method(summary,eco.phy.regression)
S3method(summary,eco.trait.regression)
S3method(summary,eco.trait.regression.list)
S3method(summary,fingerprint.regression)
export(D.c)
export(cc.barplot)
export(comm.dist)
export(comparative.comm)
export(dispersion)
export(dissimilarity)
export(drop_tip)
export(eco.env.regression)
export(eco.phy.regression)
export(eco.trait.regression)
export(evenness)
export(fingerprint.regression)
export(phy.signal)
export(phylo.entropy)
export(pianka.dist)
export(plot.comparative.comm)
export(shape)
export(traits.dist)
import(PVR)
import(ade4)
import(apTreeshape)
import(ape)
import(caper)
import(ecoPD)
import(mvtnorm)
import(phylobase)
import(picante)
import(quantreg)
import(spacodiR)
import(vegan)
